<!doctype>
<html>
<body>
<div>
<h1 style="text-align:center"> Who's that pokemon?</h1>
</div>
<p id="demo"></p>

<div>
<p style="text-align:center"><img id="image" alt="Pokemon image" onload="this.width/=2;this.onload=null;"></p>
</div>
<div>
<p style="text-align:center">
<input type="text" id="mySearch" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" placeholder="Who's that pokemon?">
<button id="btnSearch" onclick="isCorrect(x,document.getElementById('mySearch').value)"  type="submit">Guess</button>
</p>
</div>
<p style="text-align:center">
Kanto <input type="checkbox" class="region" style="margin-right:15px" id="kan">
Johto <input type="checkbox" class="region" style="margin-right:15px" id="joh">
Hoenn <input type="checkbox" class="region" style="margin-right:15px" id="hoe">
Sinnoh <input type="checkbox" class="region" style="margin-right:15px" id="sin">
Unova <input type="checkbox" class="region" style="margin-right:15px" id="uno">
Kalos <input type="checkbox" class="region" style="margin-right:15px" id="kal">
Alola <input type="checkbox" class="region" style="margin-right:15px" id="alo">
</p>
<div>
<p style="text-align:center">
Coloured Image? <input type="checkbox" id="colour" onclick=colourImage(x)>
</p>
</div>
<div>
<p id="answer" style="text-align:center"></p>
<p style="text-align:center" id="count"></p>
</div>
<div>
<p style="text-align:center">
<button onclick="x=runPage()" class="center">Play again?</button>
</p>
</div>
<script>
//var pokedex = [];
document.getElementById("kan").checked=true;
document.getElementById("joh").checked=true;
document.getElementById("hoe").checked=true;
document.getElementById("sin").checked=true;
document.getElementById("uno").checked=true;
document.getElementById("kal").checked=true;
document.getElementById("alo").checked=true;
  var x = runPage()
  var counter = 0
  var right = 0
  function runPage()
{
  var pokedex=[]
  var num = 0
  if (document.getElementById("kan").checked==true)
  {
    pokedex,num = kanto(pokedex,num)
  }
  if (document.getElementById("joh").checked==true)
  {
    pokedex,num = johto(pokedex,num)
  }
  if (document.getElementById("hoe").checked==true)
  {
    pokedex,num = hoenn(pokedex,num)
  }
  if (document.getElementById("sin").checked==true)
  {
    pokedex,num = sinnoh(pokedex,num)
  }
  if (document.getElementById("uno").checked==true)
  {
    pokedex,num = unova(pokedex,num)
  }
  if (document.getElementById("kal").checked==true)
  {
    pokedex,num = kalos(pokedex,num)
  }
  if (document.getElementById("alo").checked==true)
  {
    pokedex,num = alola(pokedex,num)
  }
  //document.getElementById("answer").innerHTML=pokedex
  var ran = random(pokedex)
  document.getElementById("answer").innerHTML=""
  document.getElementById('mySearch').value=""
  var box=document.getElementById("colour").checked;
  if (box==true)
  {
    document.getElementById("image").src="/static/WTP/"+ran+".png"
  }
  else
  {
    document.getElementById("image").src="/static/WTP/"+ran+"_new.png"
  }
  return ran
}
function kanto(pokedex,num)
{
  k = {{kanto|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function johto(pokedex,num)
{
  j = {{johto|tojson}}
  i=0
  for (i=0;i<j.length;i++)
  {
    pokedex[num] = j[i];
    num++;
  }
  return pokedex,num
}
function hoenn(pokedex,num)
{
  k = {{hoenn|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function sinnoh(pokedex,num)
{
  k = {{sinnoh|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function unova(pokedex,num)
{
  k = {{unova|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function kalos(pokedex,num)
{
  k = {{kalos|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function alola(pokedex,num)
{
  k = {{alola|tojson}}
  i=0
  for (i=0;i<k.length;i++)
  {
    pokedex[num] = k[i];
    num++;
  }
  return pokedex,num
}
function colourImage(poke)
{
  if (document.getElementById("colour").checked==true)
  {
    document.getElementById("image").src="/static/WTP/"+poke+".png"
  }
  else {
    document.getElementById("image").src="/static/WTP/"+poke+"_new.png"
  }
}
function random(pokedex) // Takes an array containing a list of the name of Pokemon
// and returns a random integer between 0 and the length of the array.
{
  return pokedex[Math.floor(Math.random()*pokedex.length)]
}
function isCorrect(poke,guess)
{
  var poke_test = poke
  document.getElementById("image").src="/static/WTP/"+poke+".png"
  if (guess.toUpperCase()===poke_test.toUpperCase())
  {
    return correct(poke);
  }
  return incorrect(poke);
}
function correct(poke)
{
  document.getElementById("answer").innerHTML="Well done, you got it!"
  right+=1
  counter+=1
  document.getElementById("count").innerHTML="You have answered "+String(right)+" out of "+String(counter)+" correctly."
}
function incorrect(poke)
{
  document.getElementById("answer").innerHTML="Bad Luck. The answer was "+poke
  counter+=1
  document.getElementById("count").innerHTML="You have answered "+String(right)+" out of "+String(counter)+" correctly."
}
</script>
</body>
</html>
